# Modelling league dash data

In [1]:
# import pickle
import pandas as pd
from pathlib import Path

In [2]:
fp = Path("../data/leaguedash_merge_2018-19.pkl")
# with open(fp, "rb") as f:
#     tor = pickle.load(f)
tor = pd.read_pickle(fp)
tor.sample(6)

,PLAYER_NAME,TEAM_ABBREVIATION,AGE,GP_merge,MIN_merge,FG3M_merge,FG3A_merge,FTM_merge,FTA_merge,OREB_merge,...,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,FG2M_RANK,FG2A_RANK,gametime_threshold
PLAYER_ID,,,,,,,,,,,,,,,,,,,,,
203521,Matthew Dellavedova,CLE,28.0,48.000000,812.193333,2.00000,5.800000,1.900000,2.300000,0.300000,...,0.866038,0.858491,0.903774,0.466038,0.490566,0.664151,0.605660,0.796226,0.798113,True
203471,Dennis Schroder,OKC,25.0,70.685393,2070.709906,1.84382,5.598876,2.922472,3.589888,0.588764,...,0.543396,0.824528,0.164151,0.637736,0.277358,0.194340,0.267925,0.275472,0.181132,True
1628395,Jordan Bell,GSW,24.0,51.775510,579.305816,0.00000,0.069388,1.497959,2.359184,2.469388,...,0.492453,0.030189,0.501887,0.275472,0.583019,0.777358,0.675472,0.311321,0.339623,True
202692,Alec Burks,SAC,27.0,64.000000,1374.946667,1.60000,4.400000,3.000000,3.700000,0.800000,...,0.554717,0.518868,0.230189,0.788679,0.324528,0.452830,0.858491,0.564151,0.466038,True
203613,Jonathon Simmons,PHI,29.0,46.200000,861.777000,1.00000,4.180000,2.340000,3.200000,1.000000,...,0.596226,0.609434,0.050943,0.713208,0.362264,0.552830,0.937736,0.450943,0.324528,True
1627826,Ivica Zubac,LAC,22.0,52.432836,919.727363,0.00000,0.000000,3.308955,4.208955,4.752239,...,0.815094,0.073585,0.024528,0.147170,0.201887,0.216981,0.313208,0.069811,0.075472,True

In [13]:
tor[tor["PLAYER_NAME"] == "Kawhi Leonard"]

,PLAYER_NAME,TEAM_ABBREVIATION,AGE,GP_merge,MIN_merge,FG3M_merge,FG3A_merge,FTM_merge,FTA_merge,OREB_merge,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,FG2M_RANK,FG2A_RANK
PLAYER_ID,,,,,,,,,,,,,,,,,,,,,
202695,Kawhi Leonard,TOR,28.0,44.0,1550.974444,2.044444,5.433333,6.8,7.855556,1.711111,...,121,64,248,124,494,11,6,47,31,29

In [9]:
tor.columns

Index(['PLAYER_NAME', 'TEAM_ABBREVIATION', 'AGE', 'GP_merge', 'MIN_merge',
       'FG3M_merge', 'FG3A_merge', 'FTM_merge', 'FTA_merge', 'OREB_merge',
       'DREB_merge', 'AST_merge', 'TOV_merge', 'STL_merge', 'BLK_merge',
       'BLKA_merge', 'PF_merge', 'PFD_merge', 'PTS_merge', 'PLUS_MINUS_merge',
       'FG2M_merge', 'FG2A_merge', 'GP_RANK', 'MIN_RANK', 'FG3M_RANK',
       'FG3A_RANK', 'FTM_RANK', 'FTA_RANK', 'OREB_RANK', 'DREB_RANK',
       'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK',
       'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK', 'FG2M_RANK', 'FG2A_RANK'],
      dtype='object')

In [3]:
fp = Path("../data/leaguedash_merge_2004-05.pkl")
# with open(fp, "rb") as f:
#     det = pickle.load(f)
det = pd.read_pickle(fp)
det.sample(5)

,PLAYER_NAME,TEAM_ABBREVIATION,AGE,GP_merge,MIN_merge,FG3M_merge,FG3A_merge,FTM_merge,FTA_merge,OREB_merge,...,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,FG2M_RANK,FG2A_RANK,gametime_threshold
PLAYER_ID,,,,,,,,,,,,,,,,,,,,,
2052,DeShawn Stevenson,ORL,24.0,55.000000,1080.705000,0.800000,2.200000,1.900000,3.400000,1.300000,...,0.900862,0.640086,0.168103,0.881466,0.588362,0.321121,0.765086,0.260776,0.159483,True
2736,Luol Deng,CHI,20.0,61.000000,1661.070000,0.700000,2.500000,2.600000,3.500000,2.000000,...,0.540948,0.379310,0.247845,0.931034,0.213362,0.241379,0.127155,0.187500,0.200431,True
998,Mark Pope,DEN,32.0,9.000000,24.983333,0.000000,0.000000,0.000000,0.000000,7.200000,...,0.237069,0.030172,0.068966,0.060345,0.144397,0.961207,0.978448,0.758621,0.517241,False
763,Tony Massenburg,SAS,37.0,49.151899,540.488291,0.000000,0.000000,2.226582,3.140506,3.346835,...,0.775862,0.297414,0.334052,0.157328,0.286638,0.818966,0.702586,0.646552,0.435345,True
120,Steven Smith,MIA,36.0,44.964286,665.924345,1.785714,4.553571,2.946429,3.482143,0.625000,...,0.797414,0.678879,0.784483,0.545259,0.318966,0.377155,0.204741,0.834052,0.685345,True

In [14]:
det.select_dtypes("number")

,AGE,GP_merge,MIN_merge,FG3M_merge,FG3A_merge,FTM_merge,FTA_merge,OREB_merge,DREB_merge,AST_merge,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,FG2M_RANK,FG2A_RANK
PLAYER_ID,,,,,,,,,,,,,,,,,,,,,
243,32.0,59.923077,992.399188,0.574359,1.910256,0.261538,0.435897,0.574359,4.874359,3.158974,...,442,76,235,403,226,26,456,236,450,460
1425,33.0,42.000000,311.583333,0.000000,0.000000,1.700000,2.000000,2.000000,5.000000,0.900000,...,242,376,126,168,20,387,391,448,292,323
1502,30.0,78.000000,1700.976667,0.000000,0.000000,0.800000,1.500000,3.500000,5.600000,1.200000,...,409,389,5,387,161,322,420,200,307,369
1559,30.0,60.898734,586.069198,0.087342,0.436709,1.787342,2.362025,2.711392,5.239241,3.001266,...,333,9,366,356,136,321,371,87,284,229
1733,25.0,66.000000,2546.448333,0.200000,1.000000,3.300000,5.000000,2.000000,4.500000,2.900000,...,62,161,338,103,258,320,91,399,43,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2216,23.0,46.000000,1607.248333,0.000000,0.100000,4.600000,5.700000,3.200000,6.700000,1.900000,...,121,320,249,40,394,162,36,267,17,10
2560,24.0,40.000000,475.513333,1.000000,2.700000,4.000000,4.900000,2.600000,5.100000,1.900000,...,147,321,252,186,134,161,54,66,72,124
2585,21.0,74.000000,1395.963333,0.000000,0.000000,3.600000,4.800000,3.400000,6.400000,1.500000,...,295,216,127,87,157,160,255,182,205,208
1442,33.0,58.000000,928.333333,0.000000,0.000000,2.800000,3.300000,1.900000,5.200000,1.000000,...,262,407,70,135,94,159,190,149,103,209
980,30.0,78.000000,2615.378333,0.000000,0.100000,5.500000,6.900000,4.100000,5.100000,1.400000,...,96,344,29,106,160,464,51,104,38,39

In [4]:
import os
import logging
import mlflow
from mlflow.tracking import MlflowClient

In [5]:
rel_path = "../frontend/model"
MLFLOW_TRACKING_URI = os.getenv(
    "MLFLOW_TRACKING_URI", f"sqlite:///{rel_path}/mlflow.db"
)

MLFLOW_REGISTERED_MODEL = os.getenv("MLFLOW_REGISTERED_MODEL", "nba-player-clusterer")

client = MlflowClient(tracking_uri=MLFLOW_TRACKING_URI)
model_filter = f"name='{MLFLOW_REGISTERED_MODEL}'"
mv_search = client.search_model_versions(model_filter)

model_uris = [mv.source for mv in mv_search if mv.current_stage == "Production"]

if model_uris:
    print(f"selected model URI: {model_uris[-1]}")
    # alternatively model_uri could also be direct path to s3 bucket:
    # s3://{MLFLOW_ARTIFACT_STORE}/<exp_id>/<run_id>/artifacts/models
    # the models:/model_name/Production uri is only useable if MLflow server is up
    model = mlflow.pyfunc.load_model(
        # model_uri=f'models:/{MLFLOW_REGISTERED_MODEL}/Production'
        model_uri=Path(rel_path)
        / model_uris[-1]
    )

selected model URI: ./mlruns/2/140228bd53c146b291babded0251bf9a/artifacts/model

In [6]:
import numpy as np


def reveal_group(
    data, model: mlflow.pyfunc.PyFuncModel, labels: dict = None, export: bool = False
):
    """
    Use a logged model to visualize what label's what
    """
    data = data.copy()
    label_preds = model.predict(data.select_dtypes("number"))
    data["label_pred"] = label_preds
    # min to incentivize recognizability
    # plus_minus for substance
    data["rank_agg"] = np.sum(
        [
            # data.PTS_RANK,
            # data.DREB_RANK,
            # data.OREB_RANK,
            # data.AST_RANK,
            data.MIN_RANK,
            data.PLUS_MINUS_RANK,
        ],
        axis=0,
    )
    # print(data.columns)

    df_sort = data.groupby("label_pred").apply(
        lambda x: x.sort_values(["rank_agg"], ascending=True)
    )
    # df_samp = []
    if not labels:
        labels = {}
        for label in np.unique(label_preds):
            label_samples = df_sort.loc[[label], "PLAYER_NAME"].head(10).sample(3)
            label_name = ""
            while len(label_name) > 50 or not label_name:
                label_name = "-".join(label_samples.sample(3).values)
            labels[label] = label_name

    data["label_names"] = data["label_pred"].map(labels)

    if export:
        pd.to_pickle(data.drop(["rank_agg"], axis=1), "./leaguedash_labelled.pkl")

    return labels, data.drop(["rank_agg"], axis=1)

In [8]:
labels, labels_df = reveal_group(data=tor, model=model, export=True)
labels

{0: 'Derrick Favors-Clint Capela-Myles Turner',
 1: 'Vincent Edwards-Okaro White-Gary Clark',
 2: 'Brook Lopez-James Harden-Pascal Siakam'}

In [22]:
labels_df.loc[:, ["PLAYER_NAME", "TEAM_ABBREVIATION", "label_names"]].sample(5)

,PLAYER_NAME,TEAM_ABBREVIATION,label_names
PLAYER_ID,,,
1627782,Wayne Selden,CHI,Draymond Green-Danny Green-Jerami Grant
204025,Tim Frazier,MIL,Draymond Green-Danny Green-Jerami Grant
203382,Aron Baynes,BOS,Anthony Davis-Steven Adams-Paul Millsap
202339,Eric Bledsoe,MIL,James Harden-Khris Middleton-Paul George
203121,Darius Miller,NOP,Draymond Green-Danny Green-Jerami Grant

In [9]:
_, det_labelled = reveal_group(data=det, model=model, labels=labels, export=True)
det_labelled.loc[:, ["PLAYER_NAME", "TEAM_ABBREVIATION", "label_names"]].sample(5)

,PLAYER_NAME,TEAM_ABBREVIATION,label_names
PLAYER_ID,,,
2212,Steven Hunter,PHX,Derrick Favors-Clint Capela-Myles Turner
2486,Maurice Baker,POR,Derrick Favors-Clint Capela-Myles Turner
1916,Calvin Booth,MIL,Derrick Favors-Clint Capela-Myles Turner
1960,Milt Palacio,TOR,Brook Lopez-James Harden-Pascal Siakam
2451,Corsley Edwards,NOH,Derrick Favors-Clint Capela-Myles Turner

## Finding similar players

We'll run the model again, this time on the 2004-05 season, to cluster the players but apply the same labels. Something tricky to overcome - I need to revise the `reveal_group` function to allow previously constructed labels...

In [29]:
_, det_label = reveal_group(data_orig=det, model=model, labels=labels)
det_label.loc[:, ["PLAYER_NAME", "TEAM_ABBREVIATION", "label_names"]].sample(5)

,PLAYER_NAME,TEAM_ABBREVIATION,label_names
PLAYER_ID,,,
2484,Devin Brown,SAS,Draymond Green-Danny Green-Jerami Grant
1891,Jason Terry,DAL,Draymond Green-Danny Green-Jerami Grant
1908,Jumaine Jones,LAL,Draymond Green-Danny Green-Jerami Grant
2411,Bostjan Nachbar,NOH,Draymond Green-Danny Green-Jerami Grant
2410,Fred Jones,IND,Draymond Green-Danny Green-Jerami Grant

In [31]:
det_label.sort_values(by=["PLUS_MINUS_RANK"], ascending=True)[
    ["PLAYER_NAME", "TEAM_ABBREVIATION", "label_names"]
].head(5)

,PLAYER_NAME,TEAM_ABBREVIATION,label_names
PLAYER_ID,,,
1938,Manu Ginobili,SAS,James Harden-Khris Middleton-Paul George
1495,Tim Duncan,SAS,Anthony Davis-Steven Adams-Paul Millsap
959,Steve Nash,PHX,James Harden-Khris Middleton-Paul George
1725,Rasho Nesterovic,SAS,Anthony Davis-Steven Adams-Paul Millsap
109,Robert Horry,SAS,Draymond Green-Danny Green-Jerami Grant

Great. Next up - for a given player, find the closest analog in the comparison season using these two metrics:

* `PLUS_MINUS_RANK`
* `MIN_RANK`

Since the number of players will vary between seasons, using the raw rank will not be sufficient. The rank needs to be scaled to the number of players.

This brings into question of how I re-rank the players in the first place. Re-rank occurs *after* the merge, but *before* the player filter. This means that the rank is still league-wide for that season. 

I think the rank needs to be standard-scaled at that point, instead of returning the raw rank, so that they can be compared across seasons. This costs one piece of info: how many players are being ranked in that season. Don't think it's that important, but perhaps I can keep it in my column name? e.g. "PTS_RANK_450". No, this raises the issue of incompatible feature names when I use a pre-trained model.

I think I can always retrieve it, if I have the full, unfiltered df to begin with. Instead of saving the filtered pickle, I'll simply append the filter as another column, and save the whole thing.

Revise `train.py` to remove the additional `gametime_threshold` column when feeding to model? Could use `float64` when selecting `dtypes` to exclude `bool`. Nah let's keep it.

In [32]:
tor.dtypes

PLAYER_NAME           object
TEAM_ABBREVIATION     object
AGE                  float64
GP_merge             float64
MIN_merge            float64
FG3M_merge           float64
FG3A_merge           float64
FTM_merge            float64
FTA_merge            float64
OREB_merge           float64
DREB_merge           float64
AST_merge            float64
TOV_merge            float64
STL_merge            float64
BLK_merge            float64
BLKA_merge           float64
PF_merge             float64
PFD_merge            float64
PTS_merge            float64
PLUS_MINUS_merge     float64
FG2M_merge           float64
FG2A_merge           float64
GP_RANK                int64
MIN_RANK               int64
FG3M_RANK              int64
FG3A_RANK              int64
FTM_RANK               int64
FTA_RANK               int64
OREB_RANK              int64
DREB_RANK              int64
AST_RANK               int64
TOV_RANK               int64
STL_RANK               int64
BLK_RANK               int64
BLKA_RANK              int64
PF_RANK                int64
PFD_RANK               int64
PTS_RANK               int64
PLUS_MINUS_RANK        int64
FG2M_RANK              int64
FG2A_RANK              int64
dtype: object