# Modelling league dash data

In [1]:
# import pickle
import pandas as pd
from pathlib import Path

In [12]:
fp = Path("../data/leagedash_merge_2018-19.pkl")
# with open(fp, "rb") as f:
#     tor = pickle.load(f)
tor = pd.read_pickle(fp)
tor.sample(6)

,PLAYER_NAME,TEAM_ABBREVIATION,AGE,GP_merge,MIN_merge,FG3M_merge,FG3A_merge,FTM_merge,FTA_merge,OREB_merge,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,FG2M_RANK,FG2A_RANK
PLAYER_ID,,,,,,,,,,,,,,,,,,,,,
1626159,Justise Winslow,MIA,23.0,66.00000,1959.505000,1.800000,4.700000,1.600000,2.500000,1.200000,...,98,166,370,185,241,283,215,126,221,187
1626224,Cedi Osman,CLE,24.0,76.00000,2443.911667,1.900000,5.500000,2.100000,2.700000,0.700000,...,269,333,430,251,329,266,246,484,300,309
201961,Wayne Ellington,DET,31.0,46.57377,1143.982978,3.550820,9.736066,1.021311,1.281967,0.452459,...,457,113,440,367,408,472,259,342,497,504
201229,Anthony Tolliver,MIN,34.0,65.00000,1079.341667,2.700000,7.200000,1.600000,2.000000,0.500000,...,407,451,205,473,310,384,427,301,511,517
1626161,Willie Cauley-Stein,SAC,25.0,81.00000,2212.546667,0.000000,0.000000,2.300000,4.100000,2.900000,...,350,86,164,80,183,134,188,172,55,68
203115,Will Barton,DEN,28.0,31.56338,849.411291,1.842254,5.939437,1.818310,2.476056,1.236620,...,242,481,144,191,426,376,248,311,277,223

In [13]:
tor[tor["PLAYER_NAME"] == "Kawhi Leonard"]

,PLAYER_NAME,TEAM_ABBREVIATION,AGE,GP_merge,MIN_merge,FG3M_merge,FG3A_merge,FTM_merge,FTA_merge,OREB_merge,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,FG2M_RANK,FG2A_RANK
PLAYER_ID,,,,,,,,,,,,,,,,,,,,,
202695,Kawhi Leonard,TOR,28.0,44.0,1550.974444,2.044444,5.433333,6.8,7.855556,1.711111,...,121,64,248,124,494,11,6,47,31,29

In [9]:
tor.columns

Index(['PLAYER_NAME', 'TEAM_ABBREVIATION', 'AGE', 'GP_merge', 'MIN_merge',
       'FG3M_merge', 'FG3A_merge', 'FTM_merge', 'FTA_merge', 'OREB_merge',
       'DREB_merge', 'AST_merge', 'TOV_merge', 'STL_merge', 'BLK_merge',
       'BLKA_merge', 'PF_merge', 'PFD_merge', 'PTS_merge', 'PLUS_MINUS_merge',
       'FG2M_merge', 'FG2A_merge', 'GP_RANK', 'MIN_RANK', 'FG3M_RANK',
       'FG3A_RANK', 'FTM_RANK', 'FTA_RANK', 'OREB_RANK', 'DREB_RANK',
       'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK',
       'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK', 'FG2M_RANK', 'FG2A_RANK'],
      dtype='object')

In [10]:
fp = Path("../data/leagedash_merge_2004-05.pkl")
# with open(fp, "rb") as f:
#     det = pickle.load(f)
det = pd.read_pickle(fp)
det.sample(5)

,PLAYER_NAME,TEAM_ABBREVIATION,AGE,GP_merge,MIN_merge,FG3M_merge,FG3A_merge,FTM_merge,FTA_merge,OREB_merge,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,FG2M_RANK,FG2A_RANK
PLAYER_ID,,,,,,,,,,,,,,,,,,,,,
2736,Luol Deng,CHI,20.0,61.000000,1661.070000,0.7,2.5,2.600000,3.500000,2.000000,...,88,251,176,115,432,99,112,59,87,93
2217,Brendan Haywood,WAS,25.0,54.818182,1510.821894,0.0,0.0,3.168182,5.090909,3.990909,...,310,177,34,192,152,328,226,51,160,257
2767,Royal Ivey,ATL,23.0,62.000000,813.531667,0.1,0.4,2.100000,3.000000,0.800000,...,92,48,301,85,50,233,343,273,264,249
1502,Adonal Foyle,GSW,30.0,78.000000,1700.976667,0.0,0.0,0.800000,1.500000,3.500000,...,409,389,5,387,161,322,420,200,307,369
255,Grant Hill,ORL,32.0,67.000000,2342.775000,0.0,0.2,4.300000,5.200000,1.200000,...,107,81,242,298,421,446,28,186,8,15

In [14]:
det.select_dtypes("number")

,AGE,GP_merge,MIN_merge,FG3M_merge,FG3A_merge,FTM_merge,FTA_merge,OREB_merge,DREB_merge,AST_merge,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,FG2M_RANK,FG2A_RANK
PLAYER_ID,,,,,,,,,,,,,,,,,,,,,
243,32.0,59.923077,992.399188,0.574359,1.910256,0.261538,0.435897,0.574359,4.874359,3.158974,...,442,76,235,403,226,26,456,236,450,460
1425,33.0,42.000000,311.583333,0.000000,0.000000,1.700000,2.000000,2.000000,5.000000,0.900000,...,242,376,126,168,20,387,391,448,292,323
1502,30.0,78.000000,1700.976667,0.000000,0.000000,0.800000,1.500000,3.500000,5.600000,1.200000,...,409,389,5,387,161,322,420,200,307,369
1559,30.0,60.898734,586.069198,0.087342,0.436709,1.787342,2.362025,2.711392,5.239241,3.001266,...,333,9,366,356,136,321,371,87,284,229
1733,25.0,66.000000,2546.448333,0.200000,1.000000,3.300000,5.000000,2.000000,4.500000,2.900000,...,62,161,338,103,258,320,91,399,43,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2216,23.0,46.000000,1607.248333,0.000000,0.100000,4.600000,5.700000,3.200000,6.700000,1.900000,...,121,320,249,40,394,162,36,267,17,10
2560,24.0,40.000000,475.513333,1.000000,2.700000,4.000000,4.900000,2.600000,5.100000,1.900000,...,147,321,252,186,134,161,54,66,72,124
2585,21.0,74.000000,1395.963333,0.000000,0.000000,3.600000,4.800000,3.400000,6.400000,1.500000,...,295,216,127,87,157,160,255,182,205,208
1442,33.0,58.000000,928.333333,0.000000,0.000000,2.800000,3.300000,1.900000,5.200000,1.000000,...,262,407,70,135,94,159,190,149,103,209
980,30.0,78.000000,2615.378333,0.000000,0.100000,5.500000,6.900000,4.100000,5.100000,1.400000,...,96,344,29,106,160,464,51,104,38,39

In [18]:
import os
import logging
import mlflow
from mlflow.tracking import MlflowClient

In [21]:
rel_path = "../frontend/model"
MLFLOW_TRACKING_URI = os.getenv(
    "MLFLOW_TRACKING_URI", f"sqlite:///{rel_path}/mlflow.db"
)

MLFLOW_REGISTERED_MODEL = os.getenv("MLFLOW_REGISTERED_MODEL", "nba-player-clusterer")

client = MlflowClient(tracking_uri=MLFLOW_TRACKING_URI)
model_filter = f"name='{MLFLOW_REGISTERED_MODEL}'"
mv_search = client.search_model_versions(model_filter)

model_uris = [mv.source for mv in mv_search if mv.current_stage == "Production"]

if model_uris:
    print(f"selected model URI: {model_uris[-1]}")
    # alternatively model_uri could also be direct path to s3 bucket:
    # s3://{MLFLOW_ARTIFACT_STORE}/<exp_id>/<run_id>/artifacts/models
    # the models:/model_name/Production uri is only useable if MLflow server is up
    model = mlflow.pyfunc.load_model(
        # model_uri=f'models:/{MLFLOW_REGISTERED_MODEL}/Production'
        model_uri=Path(rel_path)
        / model_uris[-1]
    )

selected model URI: ./mlruns/2/140228bd53c146b291babded0251bf9a/artifacts/model

In [35]:
import numpy as np


def reveal_group(data_orig, model: mlflow.pyfunc.PyFuncModel):
    """
    Use a logged model to visualize what label's what
    """
    data = data_orig.copy()
    label_preds = model.predict(data.drop(["PLAYER_NAME", "TEAM_ABBREVIATION"], axis=1))
    data["label_pred"] = label_preds
    data["pts_ast_reb"] = np.sum(
        [
            data.PTS_RANK,
            data.DREB_RANK,
            data.OREB_RANK,
            data.AST_RANK,
            data.PLUS_MINUS_RANK,
        ],
        axis=0,
    )
    # print(data.columns)

    df_sort = data.groupby("label_pred").apply(
        lambda x: x.sort_values(["pts_ast_reb"], ascending=True)
    )
    df_samp = []
    for label in np.unique(label_preds):
        label_samples = df_sort.loc[[label], "PLAYER_NAME"].head(5)
        # print(label_samples)
        df_samp.append(label_samples)

    df_merge = pd.concat(df_samp, axis=0)
    df_merge.to_csv("./player_labels_sample.csv")
    return df_merge

In [36]:
bob = reveal_group(data_orig=tor, model=model)
bob

label_pred  PLAYER_ID
0           203994                Jusuf Nurkic
            203076               Anthony Davis
            1627734           Domantas Sabonis
            202696              Nikola Vucevic
            202685           Jonas Valanciunas
1           201143                  Al Horford
            203110              Draymond Green
            201188                  Marc Gasol
            202357             Nemanja Bjelica
            202703              Nikola Mirotic
2           203999                Nikola Jokic
            203507       Giannis Antetokounmpo
            203954                 Joel Embiid
            201566           Russell Westbrook
            1626157         Karl-Anthony Towns
Name: PLAYER_NAME, dtype: object