# Modelling league dash data

In [1]:
# import pickle
import pandas as pd
from pathlib import Path

In [11]:
fp = Path("../data/leagedash_merge_2018-19.pkl")
# with open(fp, "rb") as f:
#     df = pickle.load(f)
df = pd.read_pickle(fp)
df.sample(6)

,PLAYER_NAME,TEAM_ABBREVIATION,AGE,GP_merge,MIN_merge,FG3M_merge,FG3A_merge,FTM_merge,FTA_merge,OREB_merge,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,FG2M_RANK,FG2A_RANK
PLAYER_ID,,,,,,,,,,,,,,,,,,,,,
201577,Robin Lopez,CHI,31.0,74.000000,1605.681667,0.200000,0.700000,2.000000,2.800000,3.100000,...,158,500,45,390,344,158,183,335,61,90
201588,George Hill,MIL,33.0,45.000000,999.705000,1.466667,4.266667,2.100000,2.533333,1.200000,...,447,169,387,331,328,262,282,57,285,350
1628401,Derrick White,SAS,24.0,56.629630,1462.270617,0.982716,3.034568,2.276543,2.997531,0.613580,...,173,148,129,259,301,189,231,121,167,207
203504,Trey Burke,DAL,26.0,58.000000,1124.595000,1.800000,5.100000,3.300000,4.000000,0.900000,...,300,247,424,74,483,186,70,256,103,60
2733,Shaun Livingston,GSW,33.0,46.888889,704.018827,0.000000,0.140741,1.866667,2.266667,1.437037,...,416,216,174,337,256,360,463,253,240,253
203087,Jeremy Lamb,CHA,27.0,79.000000,2250.090000,1.800000,5.300000,3.700000,4.200000,1.000000,...,375,119,273,233,463,142,89,176,148,135

In [9]:
df.columns

Index(['PLAYER_NAME', 'TEAM_ABBREVIATION', 'AGE', 'GP_merge', 'MIN_merge',
       'FG3M_merge', 'FG3A_merge', 'FTM_merge', 'FTA_merge', 'OREB_merge',
       'DREB_merge', 'AST_merge', 'TOV_merge', 'STL_merge', 'BLK_merge',
       'BLKA_merge', 'PF_merge', 'PFD_merge', 'PTS_merge', 'PLUS_MINUS_merge',
       'FG2M_merge', 'FG2A_merge', 'GP_RANK', 'MIN_RANK', 'FG3M_RANK',
       'FG3A_RANK', 'FTM_RANK', 'FTA_RANK', 'OREB_RANK', 'DREB_RANK',
       'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK',
       'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK', 'FG2M_RANK', 'FG2A_RANK'],
      dtype='object')

In [10]:
fp = Path("../data/leagedash_merge_2004-05.pkl")
with open(fp, "rb") as f:
    det = pickle.load(f)

det.sample(5)

,PLAYER_NAME,TEAM_ABBREVIATION,AGE,GP_merge,MIN_merge,FG3M_merge,FG3A_merge,FTM_merge,FTA_merge,OREB_merge,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,FG2M_RANK,FG2A_RANK
PLAYER_ID,,,,,,,,,,,,,,,,,,,,,
2736,Luol Deng,CHI,20.0,61.000000,1661.070000,0.7,2.5,2.600000,3.500000,2.000000,...,88,251,176,115,432,99,112,59,87,93
2217,Brendan Haywood,WAS,25.0,54.818182,1510.821894,0.0,0.0,3.168182,5.090909,3.990909,...,310,177,34,192,152,328,226,51,160,257
2767,Royal Ivey,ATL,23.0,62.000000,813.531667,0.1,0.4,2.100000,3.000000,0.800000,...,92,48,301,85,50,233,343,273,264,249
1502,Adonal Foyle,GSW,30.0,78.000000,1700.976667,0.0,0.0,0.800000,1.500000,3.500000,...,409,389,5,387,161,322,420,200,307,369
255,Grant Hill,ORL,32.0,67.000000,2342.775000,0.0,0.2,4.300000,5.200000,1.200000,...,107,81,242,298,421,446,28,186,8,15